<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860130712441-sdi0ilqqde0ob25e33edemvkk2tgak2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860130712441-sdi0ilqqde0ob25e33edemvkk2tgak2p</string>
	<key>API_KEY</key>
	<string>AIzaSyBSk1F5CyZZ1U6VUP-hfeTefcHIZspHZkM</string>
	<key>GCM_SENDER_ID</key>
	<string>860130712441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mina.Lets-Chating</string>
	<key>PROJECT_ID</key>
	<string>chating-app-4d3dc</string>
	<key>STORAGE_BUCKET</key>
	<string>chating-app-4d3dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860130712441:ios:bbe9f3864fd7db2dc12da8</string>
</dict>
</plist>